<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="fadeIn first">
      <h2>Login</h2>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="login" formControlName="username">
      <input type="password" id="password" class="fadeIn third" name="login" placeholder="password"
        formControlName="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>
    <div id="formFooter"></div>
  </div>
</div>