<div class="container mt-3">
    <div class="row" >
        <div class="col-md-4" *ngFor="let temp of tempList">
            <div class="card text-center centering">
                <h2>{{temp.name}}</h2>
                <div class="dot green" *ngIf="temp.status" (click)="changeTempStatus(temp.id)">
                </div>
                <div class="dot red" *ngIf="!temp.status" (click)="changeTempStatus(temp.id)">
                </div>
                <h3>{{temp.temp}}°C</h3>
                <button class="w-100" (click)="changeTemp('+', temp.id)">+</button>
                <button class="w-100" (click)="changeTemp('-', temp.id)">-</button>

                <button class="mt-3" class="w-100" (click)="applyChanges('t', temp.id)">Apply</button>
            </div>
        </div>
    </div>
    <div class="row mt-3" >
        <div class="col-md-4" *ngFor="let onOff of onOffList">
            <div class="card text-center centering">
                <h2>{{onOff.name}}</h2>
                <div class="dot green" *ngIf="onOff.status" (click)="changeOnOffStatus(onOff.id)">
                </div>
                <div class="dot red" *ngIf="!onOff.status" (click)="changeOnOffStatus(onOff.id)">
                </div>
                <button class="mt-3" class="w-100" (click)="applyChanges('o', onOff.id)">Apply</button>
            </div>
        </div>
    </div>
</div>