<div class="container">
  <div>
    <h2>Create temp device</h2>
    <form [formGroup]="tempForm" (ngSubmit)="submitLoginTemp()" >
      <label>Name</label>
      <br>
      <input type="text" formControlName="name" required/>
      <br>
      <label>Temp</label>
      <br>
      <input type="text" formControlName="temp" required/>
      <br>
      <label>Status</label>
      <br>
      <input type="checkbox" formControlName="status" required/>
      <br>
      <button type="submit">Create</button>
    </form>
  </div>
  <div>
    <form [formGroup]="generalForm" (ngSubmit)="submitLogin()">
    <h2>Create general device</h2>
    <label>Name</label>
    <br>
    <input type="text" formControlName="name" required/>
    <br>
    <label>Status</label>
    <br>
    <input type="checkbox" formControlName="status" required/>
    <br>
    <button type="submit">Create</button>
</form>
  </div>
</div>
